<nav>
    <h1 >イカユニオン</h1>
    <h2>Kalmarunionen</h2>
    <ul>
        {% for item in navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>