<nav>
    <div class="loga">
        <h1 >カルマル同盟</h1>
        <h2>Kalmarunionen</h2>
    </div>
    
    <ul>
        {% for item in navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>