main{
    background-color: aqua;
}

.wrapp{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
}

.box1{

}

.box2{
    
}

.box3{
    
}

.box4{
    
}


.box5{
    
}

.box6{
    
}
