---
layout: base.njk
title: Kalmarunionen
---

<main>

    <div class="wrapp">
            <div class="box1">
                
                {{ green[0].translations.jpn.official }}
                {% image green[0].flags.png, "green" %}
                
            </div>
             
            <div class="box2">
                
                {{ is[0].translations.jpn.official }}
                {% image is[0].flags.png, "is" %}
                
            </div>

            <div class="box3">
                
                {{ misfoster[0].translations.jpn.official }}
                {% image misfoster[0].flags.png, "misfoster" %}
                
            </div>

            <div class="box4">
                
                {{ olja[0].translations.jpn.official }}
                {% image olja[0].flags.png, "olja" %}
                
            </div>

            <div class="box5">
            
                {{ sprit[0].translations.jpn.official }}
                {% image sprit[0].flags.png, "sprit" %}
                
            </div>

            <div class="box6">
                
                {{ bastu[0].translations.jpn.official }}
                {% image bastu[0].flags.png, "bastu" %}
                
            </div>
    </div>
</main>