---
layout: base.njk
---

<main>
    <h1>Data dump</h1>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}.</p>
    
    <div class="wrapp">
    {% asyncAll  item in unsplash.results %}

        {% image item.urls.small, item.alt_description %}
    {% endall %}
    </div>
</main>