---
layout: base.njk
---

<main>
    <h1>イカユニオン</h1>
    <p>Kalmarunionen</p>

    <div class="wrapp">
            <div>
                <pre>
                {{ green[0].translations.jpn.official }}
                {% image green[0].flags.png, "green" %}
                </pre>
            </div>
             
            <div>
                <pre>
                {{ is[0].translations.jpn.official }}
                {% image is[0].flags.png, "is" %}
                </pre>
            </div>

            <div>
                <pre>
                {{ misfoster[0].translations.jpn.official }}
                {% image misfoster[0].flags.png, "misfoster" %}
                </pre>
            </div>

            <div>
                <pre>
                {{ olja[0].translations.jpn.official }}
                {% image olja[0].flags.png, "olja" %}
                </pre>
            </div>

            <div>
                <pre>
                {{ sprit[0].translations.jpn.official }}
                {% image sprit[0].flags.png, "sprit" %}
                </pre>
            </div>

            <div>
                <pre>
                {{ bastu[0].translations.jpn.official }}
                {% image bastu[0].flags.png, "bastu" %}
                </pre>
            </div>
    </div>
</main>